nav {
	width: 100%;
}

nav li a {
	color: black !important;
	font-weight: 600 !important;
	letter-spacing: 1px !important;
	border-radius: 5px !important;
	text-align: center;
}

nav li a:hover {
	background-color: #e4e9ea;
}

.navbar-nav {
	margin: 0 auto;
	display: flex;
	gap: 3rem;
	font-size: 1rem;
	letter-spacing: 1px;
	/* font-weight: bold; */
}

@media (max-width: 768px) {
	.logo-utn {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.navbar-nav {
		margin: 0 auto;
		display: flex;
		font-size: 1rem;
		letter-spacing: 1px;
		gap: 0;
		/* font-weight: bold; */
	}

	.navlink {
		width: 100% !important;
	}

	.navbar-nav li a {
		width: 100% !important;
	}
}
