.lista li {
	font-size: 1.2rem;
	list-style: none;
	animation: aparecer 1s ease-in;
}

ol,
ul {
	padding: 0;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.subtitulo {
	margin: 2rem 0;
}

.img {
	width: 550px;
	height: 350px;
	display: block;
	margin: 20px auto;
	border-radius: 10px;
}

@media (max-width: 768px) {
	.img {
		max-width: 100%;
		height: auto;
	}

	.tiny-img {
		display: none;
	}
}

div {
	text-align: center;
}
.so {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin: 40px;
}
.so img {
	width: 200px;
}

@media (max-width: 768px) {
	.so {
		flex-direction: column;
	}

	.so img {
		width: 100px;
	}
}

.tiny-img {
	width: 100px;
}

.texto-img {
	display: flex;
	align-items: center;
	gap: 1em;
}

.images-so {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.images-so img {
	width: 200px;
	align-items: center;
}

@media (max-width: 768px) {
	.images-so {
		flex-direction: column;
	}
}

.conclusion,
.encabezado {
	font-size: 1.3rem;
	line-height: 2;
	font-weight: bold;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.conclusion p {
	font-size: 1.3rem;
}

@media (max-width: 768px) {
	.conclusion,
	.encabezado {
		font-size: 1.05rem;
	}

	.conclusion p {
		font-size: 1rem;
	}
}

.so-title {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.so-title img {
	width: 120px;
}

@media (max-width: 768px) {
	.so-title {
		flex-direction: column;
	}
}

.header-presentacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 3rem;
}

.header-presentacion img {
	width: 200px;
}
