.lista li {
	font-size: 1.2rem;
	list-style: none;
	animation: aparecer 1s ease-in;
}

@keyframes aparecer {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.subtitulo {
	margin: 2rem 0;
}

.img {
	width: 550px;
	height: 350px;
	display: block;
	margin: 20px auto;
	border-radius: 10px;
}

div {
	text-align: center;
}
.so {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin: 40px;
}
.so img {
	width: 200px;
}

.tiny-img {
	width: 100px;
}

.texto-img {
	display: flex;
	align-items: center;
	gap: 1em;
}

.images-so {
	display: flex;
	justify-content: space-around;
}

.images-so img {
	width: 100px;
	align-items: center;
}

.conclusion,
.encabezado {
	font-size: 1.3rem;
	line-height: 2;
	font-weight: bold;
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
