.footer {
	width: 100%;
	text-align: center;
	background: #f8f9fa;
	padding: 1.5em 0.5em;
	margin-top: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* gap: 1rem; */
}

@media (max-width: 768px) {
	.footer {
		flex-direction: column;
	}
}
.footer-paragraph {
	font-size: 1.1rem;
	color: black;
	font-weight: bold;
	margin: 0;
	text-align: center !important;
}

.footer img {
	width: 100px;
	height: 30px;
}
