.container-integrantes .list {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.container-integrantes h2 {
	margin-bottom: 1em;
}

.integrantes li {
	list-style: none;
	text-align: center;
	width: 500px;
	max-width: 100%;
	background-color: black;
	color: wheat;
	font-weight: bold;
	letter-spacing: 1px;
}

.integrantes li:hover {
	background-color: rgba(0, 0, 0, 0.76);
}
